body{

    background-color: #141212;
}
.title{
    color:  #FF5E19;
    font-family: 'Berkshire Swash'
}

header{
    height: 55vh;
}
.head-part{
    margin-top: 200px;
   
}
section{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
   
}
.button{
    text-align: center;
    
}
.button1{
    padding-left: 30%;
    padding-right: 30%;
    background-color: #015196;
    color:white;
    text-align: center;
    
}

.dot{
   
width: 3px;
height: 3px;
border-radius: 3px;
background: #B3B3B3;
margin-top: 13px;
margin-left: 2px;
margin-right: 2px;

}


.box{
    

    height: 100%;
    width: 100%;
}